<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="layouts :: header"></head>

	<div th:replace="layouts :: navigation"></div>
	
<body>



<div class="container"> <!-- container -->
	<div class="flow-text">
		Hello <span sec:authentication="name"></span>
		<br>
		Role: <span sec:authentication="principal.authorities"></span>
		<br><br>
	</div>
	<h3>Project management Panel</h3>
	<hr>
	<h4>active projects</h4>
	<div class="row">
		<div class="col m8 s12">
			<table class="highlight">
				<thead class="thead-dark">
				<tr>
					<th> project name </th>
					<th> project stage </th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="aProject : ${projectsList}">
					<td th:text="${aProject.name}"/>
					<td th:text="${aProject.stage}"/>
				</tr>

				</tbody>

			</table>
		</div>
		<div class="col m4 s12">
			<canvas id="myPieChart" height="50" width="50"></canvas>

			<script>
				var chartData = "[[${projectStatusCnt}]]"
			</script>
		</div>
	</div>

	<hr>
	<h4>employees</h4>
	<div class="row">
		<div class="col m8 s12">
			<table class="highlight">
				<thead class="thead-dark">
				<tr>
					<th> name </th>
					<th> last name </th>
					<th> project count  </th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="aEmployeeProjectCnt : ${employeesListProjectsCnt}">
					<td th:text="${aEmployeeProjectCnt.firstName}"/>
					<td th:text="${aEmployeeProjectCnt.lastName}"/>
					<td th:text="${aEmployeeProjectCnt.projectCount}"/>
				</tr>

				</tbody>

			</table>
		</div>
	</div>


</div><!-- ./container -->



<div style="height:500px"></div> <!-- del this -->
<div th:replace="layouts:: footer"></div>
<script type="text/javascript" th:src="@{js/myChart.js}"></script>

</body>