<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: head">
<body>

  <br>
<div class="container"> <!-- container -->
  <div class="container">
     <h4>Login </h4>
  <hr>
    <form th:action="@{/authenticateTheUser}" method="POST" class="container">


      <div th:if="${param.error}">
        <div class="white-text red">
          Invalid username and password.
        </div>
      </div>
      <div th:if="${param.logout}">

        <div class="white-text blue">
          You have been logged out.
        </div>

      </div>


    <div class="input-field">
      <i class="material-icons prefix">person</i>
      <input type="text" id="username" name="username">
      <label class="" for="username">username</label>
    </div>

    <div class="input-field">
      <i class="material-icons prefix">lock</i>
      <input type="password" id="password" name="password">
      <label class="" for="password">password</label>
    </div>

    <button class="btn blue" type="submit">Login</button>
  </form>
  </div>



</div><!-- ./container -->



<div style="height:500px"></div> <!-- del this -->

<!--Import jQuery before materialize.js-->

<div th:replace="layouts:: footer"></div>
</body>
</html>
