<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

	<head th:replace="layouts :: head"> 
	</head>
	
	<body>

	<div th:replace="layouts :: navigation"></div>

<!--	admin-->
	<div class="container" sec:authorize="hasRole('ROLE_ADMIN')"> <!-- container -->
		<h4>list of projects</h4>
		<hr>
		<a th:href="@{/projects/new}"
		   class="btn blue">
			new project
		</a>
		<table class="highlight">
			<thead>
			<tr>
				<th>project name</th>
				<th>project status</th>
				<th>action</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="aProject : ${projects}">
				<td th:text="${aProject.name}"/>
				<td th:text="${aProject.stage}"/>
				<td>
					<a th:href="@{/projects/{id}(id=${aProject.projectId})}"
					   class="btn">
						Update
					</a>

					<a th:href="@{/projects/delete/{id}(id=${aProject.projectId})}" sec:authorize="hasRole('ROLE_ADMIN')"
					   class="btn red"
					   onClick="if (!(confirm('delete?'))) return false" >
						Delete
					</a>

				</td>
			</tr>
			</tbody>

		</table>



	</div><!-- ./container -->
<!--user-->
	<div class="container" sec:authorize="hasRole('ROLE_USER')"> <!-- container -->
		<h4><span sec:authentication="name"></span>-s projects</h4>
		<hr>

		<table class="highlight">
			<thead>
			<tr>
				<th>project name</th>
				<th>project state</th>
				<th>action</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="aProject : ${projectsFromEmp}">
				<td th:text="${aProject.name}"/>
				<td th:text="${aProject.stage}"/>
				<td>
					<a th:href="@{/projects/{id}(id=${aProject.projectId})}"
					   class="btn">
						Update
					</a>


				</td>
			</tr>
			</tbody>

		</table>



	</div><!-- ./container -->


	<div style="height:500px"></div> <!-- del this -->

	<div th:replace="layouts:: footer"></div>
	</body>
	
</html>